
body {
    background-color: #ccf;
}

.card {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 1rem auto 0;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4.5px 3px rgba(0, 0, 0, 0.25);
}

.description {
    padding: 0 2rem;
    text-align: justify;
}

.description p {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.main-img {
    border-radius: 2px 2px 0 0;
}

.img-caption {
    text-align: center;
    font-size: 1.5rem;
    padding: 1.2rem;
}

@media only screen and (min-width: 600px) {
    .card {
        width: 75vw;
    }
}

@media only screen and (min-width: 768px) {
    .card {
        width: 60vw;
    }
}

@media only screen and (min-width: 920px) {
    .card {
        width: 40vw;
    }
}